@charset "UTF-8";

/* Layout (global rules for all sizes) */

body { margin: 0px; padding: 0px; }
header a.logo { display: block; position: absolute; background-position: 0px 0px; background-repeat: no-repeat; }
@media screen and (max-width: 990px) {
	footer { padding-left: 20px; }
}


/* Layout Large Screens (default for older browsers) */

header { height: 225px; background: url(../images/banner_large.jpg) no-repeat right 0px; }
header a.logo { width: 449px; height: 141px; top: 10px; left: 20px; background-image: url(../images/logo_large.png); }

.social_media_icons {
    position: absolute;
    top: 45px;
    right: 0px;
    width: 200px;
    height: 100px;
    }

article { padding: 60px 20px 10px 20px; }

.promo_container { padding: 0px 0px 15px 20px; }
.promo_container .promo { width: 25%; float: left; background-position: 0px 3px; }
.promo_container .promo .content { padding: 0px 30px 0px 70px; }

nav { top: 225px; }
nav a { margin: 12px 0px 10px 20px; }


